<h1>Listing entries</h1>

<table>
  <tr>
    <th>Starttime</th>
    <th>Endtime</th>
    <th>Comments</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @entries.each do |entry| %>
  <tr>
    <td><%= entry.starttime %></td>
    <td><%= entry.endtime %></td>
    <td><%= entry.hours %></td
    <td><%= entry.minutes %></td>
    <td><%= entry.words %></td>>    
    <td><%= entry.comments %></td>
    <td><%= link_to 'Show', entry %></td>
    <td><%= link_to 'Edit', edit_entry_path(entry) %></td>
    <td><%= link_to 'Destroy', entry, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Entry', new_entry_path %>
