<%= form_for(@developer_note) do |f| %>
  <% if @developer_note.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@developer_note.errors.count, "error") %> prohibited this developer_note from being saved:</h2>

      <ul>
      <% @developer_note.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :author %><br />
    <%= f.text_field :author %>
  </div>
  <div class="field">
    <%= f.label :note %><br />
    <%= f.text_field :note %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
