<script type="text/javascript">

 /**
 * Expand New Entry Dialog Box
 */
  var newEntryDialogVisible = false;
  function showDialogNewEntry()
  {
    if( !newEntryDialogVisible )
      document.getElementById( "div_entry_new" ).style.height = "150px";
    else
      document.getElementById( "div_entry_new" ).style.height = "20px";    
 
    newEntryDialogVisible = !newEntryDialogVisible;
  }
 
  /**
  * Submit New Entry to the Log
  */ 
  function submitNewEntry()
  {
    // Get parameters from the form
    var hours = parseInt( document.getElementById( "form_entry_hours" ).value );
    var minutes = parseInt( document.getElementById( "form_entry_minutes" ).value );
    var words = parseInt( document.getElementById( "form_entry_words" ).value );
    var comments = document.getElementById( "form_entry_comments" ).value;
    var editing = document.getElementById( "form_entry_editing" ).checked;
    
    // Validate data
    var fail = false;
    if( isNaN( hours ) )
    {
      document.getElementById( "form_entry_hours" ).value = "0"
      fail = true;
    }
    if( isNaN( minutes ) )
    {
      document.getElementById( "form_entry_minutes" ).value = "0"
      fail = true;    
    }
    else if( minutes < 0 || minutes > 59 )
    {
      document.getElementById( "form_entry_minutes" ).value = "0"
      fail = true;
    }
    if( isNaN( words ) )
    {
      document.getElementById( "form_entry_words" ).value = "0"
      fail = true;
    }
    if( hours < 0 || minutes < 0 || ( minutes == 0 && hours == 0 ) )
    {
      fail = true;
    }
    
    // If data is valid, submit
    if( !fail )
    {
      words = Math.floor( words )
      var submitString = "hours=" + hours + "&words=" + words + "&minutes=" + minutes + "&editing=" + editing + "&comment=" + encodeURIComponent( comments );
      var httpString = "/entries/createinline?" + submitString;
      window.location = httpString;
    }
  }
  
</script>

<!-- Watermark -->
<div id="div_watermark" class="box_watermark">writealot</div>

<div id="div_titlebar" class="box_titlebar">
  <div id="div_titlebar_row_1" class="box_titlebar_row_1">
    <span class="font_title">
      <%= @user_name %>
      <image height=30 width=30 src=" <%= @user_image %> ">
      <span class="font_signout"><%= link_to "Sign Out", :action=>'signout' %></span>
    </span>  
  </div>
  
  <div id="div_titlebar_row_2" class="box_titlebar_row_2">
      <table width=50%><tr>
        <% day_string = "None" %>
        <% if @days_last_use == 0 %>
        <%   day_string = "Today" %>
        <% elsif @days_last_use > 0 %>
        <%   day_string = "#{@days_last_use} Days Ago" %>
        <% end %>
        
        <td class="font_title_stats">Last Entry: <%= day_string %></td> 
        <td class="font_title_stats">Hours This Week: <%= '%.2f' % @hours_this_week %></td>
        <td class="font_title_stats">Words This Week: <%= @words_this_week %></td>
      </tr></table>
  </div>
</div>

<div id="div_title_divider" class="box_titlebar_divider"></div>
<div id="div_entry_list" class="box_entry_list">
  <div id="div_entry_new" class="box_entry_new">
    <div id="div_entry_new_title" class="box_entry_new_title" onclick="javascript:showDialogNewEntry()">Add New Log Entry</div>
    <form><table>
    <tr><td class="font_new_entry">Hours:</td><td class="font_new_entry"><input id="form_entry_hours" value="0" size=4 type=text name="entry_hours"></td></tr>
    <tr><td class="font_new_entry">Minutes:</td><td class="font_new_entry"><input id="form_entry_minutes" type=text size=4 value="0" name="entry_minutes"></td></tr>
    <tr><td class="font_new_entry">Words:</td><td class="font_new_entry"><input value="0" id="form_entry_words"type=text size=4 name="entry_words"><input id="form_entry_editing" value="editing" type="checkbox" />Editing</td></tr>
    <tr><td class="font_new_entry">Notes:</td><td class="font_new_entry"><input id="form_entry_comments" type=text name="entry_comments">
    &nbsp&nbsp&nbsp<a onclick="javascript:submitNewEntry()">Add Entry</a></td></tr>
    </table></form>
  </div>
  
  <% @user_entries.each do |entry| %>
    <% editing_text = "" %>
    <% if entry.editing? %>
    <%   editing_text = "Editing" %>
    <% else %>
    <%   editing_text = "Writing" %>
    <% end %>
    
    <% notes_text = "" %>
    <% if !entry.comments.empty? %>
    <%   notes_text = ": " + entry.comments %>
    <% end %>
    
    <div class="box_entry_log">
      <div class="box_entry_log_top_left">+<%= entry.words %> words/<%= entry.hours %> hr <%= entry.minutes %> min</div>
      <div class="box_entry_log_top_right"><%= entry.created_at.strftime( "%m/%d/%Y" ) %></div>
      <div class="box_entry_log_bottom_left"><strong><%= editing_text %></strong><%= notes_text %></div>
      <div class="box_entry_log_bottom_right"><a href="/entries/removeinline?entry=<%= entry[:id] %>">Delete</a></div>
    </div>
  <% end %>
  <% if @user_entries.empty? %>
    <div class="box_log_empty">
    <br>
    No Log Entries
    </div>
  <% end %> 
</div>

<div id="div_bottom_divider" class="box_bottom_divider"></div>
<div id="div_graph_box" class="box_graphs">

</div>
