<%= stylesheet_link_tag "home_log" %>

<script language="javascript" type="text/javascript" src="javascripts/graph.js"></script>
<script language="javascript" type="text/javascript" src="javascripts/interface.js"></script>

<script type="text/javascript">

 /**
  * Get Data
  */
 function getDataString
 	(
 	in_data_type
 	)
 {
 	var dataString = "";
 	
 	if( in_data_type == "words_this_week" )
 	{
 		<%= "dataString = '#{@user.get_data_words_this_week() }';" %>
 	}
 	else if( in_data_type == "words_every_week" )
 	{
 		<%= "dataString = '#{@user.get_data_words_every_week() }';" %>
 	}
 	else if( in_data_type == "words_each_week" )
 	{
 		<%= "dataString = '#{@user.get_data_words_each_week() }';" %>
 	}
 	 	 	
 	return dataString;
 }
 
</script>


<div class="style_container" id="div_container">

  <div class="style_sidebar">
    <div class="style_logo_bar_back">
      <div class="style_logo_bar_front"><img src="images/img_logo.png" width="250" height="65" /></div>
    </div>
    
    <a href="/home"><div class="style_tab_log" id="div_tab_log">Log</div></a>
    <div class="style_tab_log_content" id="div_tab_log_content"></div>
    
    
	<a href="/stats"><div class="style_tab_stats" id="div_tab_stats">Stats</div></a>
	<div class="style_tab_stats_content" id="div_tab_stats_content"></div>
	
	
	<a href="/social"><div class="style_tab_social" id="div_tab_social">Social</div></a>
	<div class="style_tab_social_content" id="div_tab_social_content"></div>
	
  </div>
  
  
  <div class="style_content" id="div_content">
  
    <div class="style_id_bar" id="div_id_bar">
      <div class="style_id_bar_pic" id="div_id_bar_pic"><image height=50 width=48 src=" <%= @user_image %> "></div>
      <div class="style_id_bar_info" id="div_id_bar_info"></div>
      <div class="style_id_bar_info_name" id="div_id_bar_info_name"><%= @user_name %> <span style="font-size:12px;"><%= link_to "(sign out)", :action=>'signout' %></span></div>
      <div class="style_id_bar_info_data" id="div_id_bar_info_data">Last Updated: <%= @last_use_text %> | Words this Week: <%= @writing_stats[ "seven_days" ][ "words" ] %> | Hours this Week: <%= '%.2f' % @writing_stats[ "seven_days" ][ "total" ] %></div> 
    </div>
    
    <div class="style_page_content" id="div_page_content">
     
	    <!-- Weekly Stats -->
		<div id="div_stats_heading_this_week" class="style_stats_heading">This Week</div>
		
		<table>
		<tr><td>Words:</td><td><%= @writing_stats[ "this_week" ][ "words" ] %></td></tr>
		<tr><td>Time, Total:</td><td><%= '%.2f' % @writing_stats[ "this_week" ][ "total" ] %> hrs</td></tr>
		<tr><td>Time, Writing:</td><td><%= '%.2f' % @writing_stats[ "this_week" ][ "writing" ] %> hrs</td></tr>
		<tr><td>Time, Editing:</td><td><%= '%.2f' % @writing_stats[ "this_week" ][ "editing" ] %> hrs</td></tr>
		</table>
		<br>
		<table>
		<tr>
		<td><div id="div_graph_words_this_week"></div></td>
		<td><div id="div_graph_words_every_week"></div></td>
		</tr>
		</table>
		<br><br>
		
		<!-- 30 Stats -->
		<div id="div_stats_heading_monthly" class="style_stats_heading">Last 30 Days</div>
		
		<table>
		<tr><td>Words:</td><td><%= @writing_stats[ "thirty_days" ][ "words" ] %></td></tr>
		<tr><td>Time, Total:</td><td><%= '%.2f' % @writing_stats[ "thirty_days" ][ "total" ] %></td></tr>
		<tr><td>Time, Writing:</td><td><%= '%.2f' % @writing_stats[ "thirty_days" ][ "writing" ] %></td></tr>
		<tr><td>Time, Editing:</td><td><%= '%.2f' % @writing_stats[ "thirty_days" ][ "editing" ] %></td></tr>
		</table>
		
		<br><br>
		
		<!-- All-Time Stats -->
		<div id="div_stats_heading_alltime" class="style_stats_heading">All Time</div>
		
		<table>
		<tr><td>Words:</td><td><%= @writing_stats[ "all_time" ][ "words" ] %></td></tr>
		<tr><td>Time, Total:</td><td><%= '%.2f' % @writing_stats[ "all_time" ][ "total" ] %></td></tr>
		<tr><td>Time, Writing:</td><td><%= '%.2f' % @writing_stats[ "all_time" ][ "writing" ] %></td></tr>
		<tr><td>Time, Editing:</td><td><%= '%.2f' % @writing_stats[ "all_time" ][ "editing" ] %></td></tr>
		</table>
		<div id="div_graph_words_each_week"></div>
    </div>
    
  </div>
 
</div>

<script type="text/javascript">
	function startup()
	{
		setTabHighlight( "stats" );

		generateGraphWordsThisWeek( "div_graph_words_this_week" );
		generateGraphWordsEveryWeek( "div_graph_words_every_week" );
		generateGraphWordsEachWeek( "div_graph_words_each_week" );
	}
</script>
